doctype html
html
    head
        <style>         .menu {         float:left;         width:25%;  }         .mainContent {  float:right;        width:74%;   }
        </style>
        title
    body
        //h4 Hello Pug
        div.mainContent
            iframe(name="target" width='100%' ) 
            // width="84%" height="100%" frameborder="0")
        div.menu
        ul
            each type in types
                li= type.id + ': ' + type.desc
                    ul
                    each item in items
                        if item.id == type.id
                            a(href=item.url target="target")= item.url
                            br

