doctype html
html
    head
        title
    body
        h1 Hello Pug

            ul
                each type in types
                    li= type.id + ': ' + type.desc
                        ul
                            each item in items
                                if item.id == type.id
                                    a(href=item.url target="_blank")= item.url
                                    br

